@home-tab-item-height: 96rpx;
.home-bg{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.home-bg-img{
  width: 100vw;
  height: 100vw;
  opacity: 0.3;
}
.school-space{
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.example-search {
  background-color: #fff;
  padding: 16rpx 32rpx;
}

.empt-space{
  width: 100vw;
  height: @home-tab-item-height;
}

.cell-space{
  background-color: transparent !important;
  background: transparent !important;
}

.cell-description-tag{
  display: flex;
  align-items: center;
  padding: 8rpx 12rpx;
  border-radius: 30rpx;
  font-size: 24rpx;
  line-height: 1;
  color: #fff;
  background: skyblue
}

.cell-description{
  display: flex;
  align-items: center;;
}