@home-tab-item-height: 96rpx;
.home-bg{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(299, 299, 299, 0.1);
}

.home-bg-img{
  width: 100vw;
  height: 100vw;
  opacity: 0.7;
}

.school-space{
  position: relative;
  z-index: 2;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(299, 299, 299, 0.1);
}

.school-detail-block{
  margin: 40rpx;
  padding: 24rpx;
  border-radius: 24rpx;
  background-color: rgba(255, 255, 255, 0.8);
}

.school-detail-text{
  font-size: 28rpx;
  line-height: 2;
}

.red{
  color: red;
}